@font-face {
    font-family: 'odibee_sansregular';
    src: url('C:\Users\Usuario\Desktop\HTML-I-guess\fontsodibeesans-regular-webfont.woff2') format('woff2'),
         url('C:\Users\Usuario\Desktop\HTML-I-guess\fontsfonts/odibeesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'baloo_tammudu_2regular';
    src: url('C:\Users\Usuario\Desktop\HTML-I-guess\fontsbalootammudu2-regular-webfont.woff2') format('woff2'),
         url('C:\Users\Usuario\Desktop\HTML-I-guess\fontsbalootammudu2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'odibee_sansregular';
    src: url('https://mibgunst.github.io/HTML-I-guess/fonts/odibeesans-regular-webfont.woff2') format('woff2'),
         url('https://mibgunst.github.io/HTML-I-guess/fonts/odibeesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'baloo_tammudu_2regular';
    src: url('https://mibgunst.github.io/HTML-I-guess/fonts/balootammudu2-regular-webfont.woff2') format('woff2'),
         url('https://mibgunst.github.io/HTML-I-guess/fonts/balootammudu2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.move_right{display: inline-block; vertical-align: top;}
.center {display: block; margin-left: auto; margin-right: auto; width: 50%;}
.vertical-center {margin-top: "50"}
.rounded {border-radius: 100px;}
.edge-trim {border-radius: 10px;}
.space{margin-top: 100px;}
.list-item{font-size: 20px;}
h1{font-family: 'odibee_sansregular'; font-size: 60px;}
h2{font-family: 'odibee_sansregular'; font-size: 40px;}
p{font-family: 'baloo_tammudu_2regular';}
li{font-family: 'baloo_tammudu_2regular'; font-size: 20px;}